
{% extends "base.html" %}

{% block content %}

<section class="flashcard-list">
    <h1 class="home-title dark-blue">Your flashcard sets</h1>
    <div class="container">
        {% for deck in decks %}
        <div class="home-deck"> 
            <div class="deck mv1 pa3 br2 bw--1 b--near-white bg-white">
            <a href="{% url 'card_list' pk=deck.pk %}" class="deck_title f3 fw6  blue underline underline-hover">{{deck.title }}</a>
            <p class="mv3 f4">{{ deck.description }} </p>
            <a href="{% url 'add_card' pk=deck.pk %}" class="db dark-blue link dim"><i class="fa fa-plus ph2"></i>Add flashcards to deck</a>
            <section class="add-deck mt4">
                
                <section class="add-deck mt4">
                </br> 
                </br>
                <a href="{% url 'edit_deck' deck_pk=deck.pk %}"><i class="fa-solid fa-pen-to-square db dark-blue link dim pa2"></i></a>
                <a href="{% url 'delete_deck' deck_pk=deck.pk %}"><i class="fa-solid fa-circle-minus db dark-blue link dim pa2"></i></a>
                    <a class="f6 link dim br2 ph3 pv2 mb2 dib bg-yellow white" href="{% url 'run_deck' deck_pk=deck.pk %}">Run Flashcards</a>
            </section>
    </div>
        {% empty %}
        <h2>Sorry, no flashcards yet.</h2>
        <h3>Add some flashcards now.</h3>
        {% endfor %}
        
</section>

{% endblock content %}
