{% extends "base.html" %}
{% load static %}

{% block content %}

<article class="mw7 center ph3 ph5-ns tc br2 pv5 bg-yellow dark-blue mb5">
    <h1 class="fw6 f3 f2-ns lh-title mt0 mb3">
        Skyclan Flashcards
    </h1>
    <h2 class="fw2 f4 blue lh-copy mt0 mb3">
        Sign up for access or log in to your account.
    </h2>
    <div>
        <a class="f6 br-pill bg-dark-blue no-underline near-white ba b--dark-blue grow pv2 ph3 dib mr3" href={% url 'registration_register' %}>
            Sign Up
        </a>
        <a class="f6 br-pill dark-blue no-underline ba grow pv2 ph3 dib" href="{% url 'auth_login' %}">
            Log In
        </a>
    </div>
</article>


{% endblock content %}
